* {
  margin: 0;
  padding: 0;
  color: #3b3d46;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  // border: 1px solid rgb(174, 172, 172);
}


@import 'base/variables';
@import 'blocks/title';
@import 'blocks/modal';

@import 'blocks/button';
@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/advantage';
@import 'blocks/form';
@import 'blocks/answers';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/pageup';


//TODO показать модалку; зафиксить навигацию; поставить выпадение аккардеон; адаптив; слайдер