@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .answers {
    .divider {
      &__vert {
        margin: 0 25px 0 25px;
      }
    }
  }
}
@media (max-width: 1160px) {
  .container {
  }
  .answers {
    padding-top: 70px;
    &__title {
      &-wrapper {
        align-items: center;
        flex-direction: column;
        .title {
          text-align: center;
        }
      }
    }
    &__items {
      margin-top: 20px;
    }
    &__header {
    }
    .title {
      &__subtitle {
        margin-top: 15px;
      }
    }
    .divider {
      display: block;
      &_vert {
        height: 2px;
        width: 60px;
        margin: 15px 0 0 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
    width: 100%;
  }
  .answers {
    &__cirlce {
      align-self: center;
      width: 30px;
      height: 30px;
    }
    &__title {
      &-wrapper {
        align-items: flex-start;
        .title {
          text-align: left;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &__items {
    }
    &__header {
      display: grid;
      grid-template: minmax(30px, auto) / 30px minmax(225px, 1100px);
      align-items: center;
      padding: 10px 90px 10px 10px;
      p {
        font-size: 16px;
        line-height: 26px;
        margin-left: 10px;
      }
    }
    .title {
      &__subtitle {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .container {
    min-width: 290px;
    width: 100%;
  }
  .answers {
    &__descr {
      p {
        padding: 30px 10px 20px 10px;
      }
    }
  }
}
